<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a>
      <img src="assets/images/logo.png" alt="" />
    </a>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li>
        <a href="#"><i class="fa fa-heart"></i> <span>1</span></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
      </li>
    </ul>
    <div class="header__cart__price">item: <span>Rs {{cartTotal}}</span></div>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__auth">
      <a href={{login_href}}><i class="fa fa-user"></i>{{login}}</a>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/user/shop">Shop</a></li>
      <li><a href="/user/my-orders">My Orders</a></li>
      <li><a href="/user/contact">Contact</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a><i class="fa fa-facebook"></i></a>
    <a><i class="fa fa-twitter"></i></a>
    <a><i class="fa fa-linkedin"></i></a>
    <a><i class="fa fa-pinterest-p"></i></a>
  </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> contact@shop.com</li>
              <li>+94123456789 - 24/7 Customer Service</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a><i class="fa fa-facebook"></i></a>
              <a><i class="fa fa-instagram"></i></a>
            </div>
            <div class="header__top__right__auth">
              <a href={{login_href}}><i class="fa fa-user"></i>{{login}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a>
            <img src="assets/images/logo.png" width="55%" alt=""/>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/user/shop">Shop</a></li>
            <li class="active"><a href="/user/my-orders">My Orders</a></li>
            <li><a href="/user/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li>
              <a href="/user/shop/shopping-cart"><i class="fa fa-shopping-bag"></i> <span>{{cartItemsCount}}</span></a>
            </li>
          </ul>
          <div class="header__cart__price">item: <span>Rs {{cartTotal}}</span></div>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->

<router-outlet (activeChange)="onActiveChange($event)"></router-outlet>


<!-- Footer Section Begin -->
<footer class="footer spad" style="padding-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a>
              <img src="assets/images/logo.png" width="60%" alt=""/>
            </a>
          </div>
          <ul>
            <li>Address: 60 Road, Colombo</li>
            <li>Phone: +94123456789</li>
            <li>Email: contact@shop.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Useful Links</h6>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user/shop">Shop</a></li>
            <li><a href="/user/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <div class="footer__widget__social">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-instagram"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
