<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img src="assets/images/changepw_bg.svg" alt="forgot_pw_bacgkround" class="img-fluid">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<form>
					<div class="text-center text-lg-start mb-4 pt-2">
						<h1>Change Password</h1>
					</div>
					<!-- Current Password input -->
					<div class="form-outline mb-4">
						<input type="password" id="currentPwInput" class="form-control form-control-lg" placeholder="Current Password" />
						<!-- <label class="form-label" for="form3Example4">Password</label> -->
					</div>

					<!-- New Password input -->
					<div class="form-outline mb-4">
						<input type="password" id="newPwInput" class="form-control form-control-lg" placeholder="New Password" />
						<!-- <label class="form-label" for="form3Example4">Password</label> -->
					</div>

					<!-- Confirm Password input -->
					<div class="form-outline mb-4">
						<input type="password" id="confirmPwInput" class="form-control form-control-lg" placeholder="Confirm Password" />
						<!-- <label class="form-label" for="form3Example4">Password</label> -->
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="submit" class="btn btn-primary btn-lg changepw-btn">Change Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>