<c-card class="mb-4">
	<c-card-body>
		<app-docs-example href="components/table">
			<table cTable>
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Category Name</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let e of data;">
						<th scope="row">{{e['categoryId']}}</th>
						<td>{{e['categoryName']}}</td>
						<td>
							<button class="btn btn-warning normal me-1" >Rename</button>
							<button class="btn btn-danger normal">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</app-docs-example>
	</c-card-body>
</c-card>