<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img src="assets/images/login_bg.svg" alt="login_bacgkround" class="img-fluid">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<form [formGroup]="loginForm" (submit)="onSubmit(loginForm.value)">
					<div class="text-center text-lg-start mb-4 pt-2">
						<h1 class="mb-3">Login</h1>
					</div>

					<!-- Email input -->
					<div class="form-floating mb-4">
						<label class="lbl-font-size" for="email">Email</label>
						<input type="email" id="email" formControlName="email" class="form-control form-control-lg" placeholder="Email" required/>

						<div *ngIf="email && (email.dirty || email.touched)"  class="alert">
							<div *ngIf="email.errors?.['required']">
								Email is required.
							</div>

							<div *ngIf="email.errors?.['email']">
								Invalid email address.
							</div>
						</div>
					</div>

					<!-- Password input -->
					<div class="form-floating mb-3">
						<label class="lbl-font-size" for="password">Password</label>
						<input type="password" id="password" formControlName="password" class="form-control form-control-lg" placeholder="Password" required/>

						<div *ngIf="password && (password.dirty || password.touched)"  class="alert">
							<div *ngIf="password.errors?.['required']">
								Password is required.
							</div>
						</div>
					</div>

					<div class="d-flex justify-content-between align-items-center">

						<!-- Checkbox -->
						<div class="form-check mb-0">
							<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
							<label class="form-check-label" for="form2Example3">Remember me</label>
						</div>
						<a href="/forgot-password" class="text-body">Forgot password?</a>
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="submit" class="btn btn-primary btn-lg login-btn" [disabled]="loginForm.invalid" >Login</button>
						<p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register" class="link-danger">Register</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>