<c-card class="mb-4">
	<c-card-body>
		<app-docs-example href="components/table">
			<table cTable>
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Product Name</th>
						<th scope="col">Price (Rs)</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let e of data;">
						<th scope="row">{{e['productId']}}</th>
						<td>{{e['productName']}}</td>
						<td>{{e['price']}}</td>
						<td>
							<button type="button"class="btn btn-link normal me-1" >More</button>
						</td>
					</tr>
				</tbody>
			</table>
		</app-docs-example>
	</c-card-body>
</c-card>