<form [formGroup]="createCategoryForm" (submit)="onSubmit(createCategoryForm.value)">
	<div class="form-floating mb-4">
		<input type="text" id="categoryName" formControlName="categoryName" class="form-control form-control-lg" placeholder="Category Name" required/>
		<label for="categoryName">Category Name</label>

		<div *ngIf="categoryName && (categoryName.dirty || categoryName.touched)"  class="alert">
			<div *ngIf="categoryName.errors?.['required']">
				Email is required.
			</div>
		</div>
	</div>

	<div class="text-center text-lg-start mt-4 pt-2">
		<button type="submit" class="btn btn-primary btn-lg login-btn" [disabled]="createCategoryForm.invalid" >Create</button>
	</div>
</form>