<div class="content-wrapper" style="margin-left: 250px">
	<section class="content-header">
		<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
			<h1>General Form</h1>
			</div>
			<div class="col-sm-6">
			<ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
				<li class="breadcrumb-item active">Create Category</li>
			</ol>
			</div>
		</div>
		</div><!-- /.container-fluid -->
	</section>

	<form [formGroup]="createCategoryForm" (submit)="onSubmit(createCategoryForm.value)">
		<div class="card-body">

			<div class="form-group">
				<label for="categoryName">Category Name</label>
				<input type="text" class="form-control" id="categoryName" formControlName="categoryName" placeholder="Ex: Mobile Phones">
				<div *ngIf="categoryName && (categoryName.dirty || categoryName.touched)"  class="validation-alert">
					<div *ngIf="categoryName.errors?.['required']">
						Category name is required.
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-body -->

		<div class="card-footer">
			<button type="submit" class="btn btn-primary" [disabled]="createCategoryForm.invalid">SAVE</button>
		</div>
	</form>
</div>