<app-navbar></app-navbar>
<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Buy Everthing From Our Store </h1>
					<p>
						You can buy anything from our shop online and get deliverd to your home
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<section class="second-sec" id='shop'>
		<div class="row mx-0 mb-3">
			<div class="col-md-5 pt-md-5 mb-2 mt-4 order-2 order-md-1">
				<h1 class="text-center text-md-right">Shop Easily & Delivered to your doorstep</h1>
				<p class="second-sec-p my-md-4 text-center text-md-right">
					Join with us today and start selling your product online easily and earn more.
					Join with us today and start selling your product online easily.
					Join with us today and start selling your product online easily.
				</p>
				<div class="d-flex justify-content-md-end justify-content-center ">
					<a class="second-sec-a" (click)="navigate('/register')" style="cursor: pointer;">Start Shoping today</a>
				</div>
			</div>
			<div class="col-md-6 px-5 order-1 order-md-2">
				<img class="img-fluid px-md-5" src="assets/images/customer.png" alt="">
			</div>
		</div>
	</section>