<!-- Product Section Begin -->
<section class="product spad" style="padding-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Categories</h4>
            <ul>
              <li><a href="#">All</a></li>
              <li><a href="#">Vegetables</a></li>
              <li><a href="#">Fruit & Nut Gifts</a></li>
              <li><a href="#">Fresh Berries</a></li>
              <li><a href="#">Ocean Foods</a></li>
              <li><a href="#">Butter & Eggs</a></li>
              <li><a href="#">Fastfood</a></li>
              <li><a href="#">Fresh Onion</a></li>
              <li><a href="#">Papayaya & Crisps</a></li>
              <li><a href="#">Oatmeal</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6><span>16</span> Products found</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- PRODUCT ITEMS -->
          <div *ngFor="let p of products" class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                [attr.data-setbg]="'Resources/Products/' + p['productImagePath']"
                (click)="goToProduct(p['productId'])"
              >

                <ul class="product__item__pic__hover" >
                  <li>
                    <a href="#" (click)="addToCart(p['productId'])"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text" (click)="goToProduct(p['productId'])">
                <h6><a href="#">{{p["productName"]}}</a></h6>
                <h5>Rs {{p["price"]}}</h5>
                <!-- {productId: 2, categoryName: 'Category 1', productName: 'White Sugar', description: 'test description', price: 1222, …} -->
              </div>
            </div>  
          </div>
        </div>
        <div class="product__pagination">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->