.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

.register-btn {
	padding-left: 2.5rem; 
	padding-right: 2.5rem;
}

input.invalid {
	border-color: red;
}

.alert{
	padding: 0rem 1rem 1rem 0rem;
	color: red;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}