<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img src="assets/images/reg_bg.svg" alt="register_bacgkround" class="img-fluid">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<form>
					<div class="text-center text-lg-start mb-4 pt-2">
						<h1 class="mb-3">Register</h1>
					</div>
					<!-- Name input -->
					<div class="form-outline mb-3">
						<input type="text" id="nameInput" class="form-control form-control-lg" placeholder="Name" />
					</div>
					
					<!-- Email input -->
					<div class="form-outline mb-3">
						<input type="email" id="emailInput" class="form-control form-control-lg" placeholder="Email" />
					</div>

					<!-- Address input -->
					<div class="form-outline mb-3">
						<input type="text" id="addressInput" class="form-control form-control-lg" placeholder="Address" />
					</div>
					
					<!-- Phone number input -->
					<div class="form-outline mb-3">
						<input type="tel" id="pnoInput" class="form-control form-control-lg" maxlength="10" placeholder="Phone Number" pattern="[0-9]{10}" />
					</div>

					<!-- Password input -->
					<div class="form-outline mb-3">
						<input type="password" id="pwInput" class="form-control form-control-lg" placeholder="Password" />
						<!-- <label class="form-label" for="form3Example4">Password</label> -->
					</div>

					<!-- Confirm Password input -->
					<div class="form-outline mb-3">
						<input type="password" id="confirmPwInput" class="form-control form-control-lg" placeholder="Confirm Password" />
						<!-- <label class="form-label" for="form3Example4">Password</label> -->
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="submit" class="btn btn-primary btn-lg register-btn">Regiister</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>