<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img src="assets/images/forgotpw_bg.svg" alt="forgot_pw_bacgkround" class="img-fluid">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<form>
					<div class="text-center text-lg-start mb-4 pt-2">
						<h1 class="mb-3">Forgot Password</h1>
						<p class="small fw-bold mt-2 pt-1 mb-0">Enter the email address associated with your account and we'll send you a link to reset your password.</p>
					</div>

					<!-- Email input -->
					<div class="form-outline mb-4">
						<input type="email" id="form3Example3" class="form-control form-control-lg" placeholder="Email" />
						<!-- <label class="form-label" for="form3Example3">Email address</label> -->
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="submit" class="btn btn-primary btn-lg forgotpw-btn">Continue</button>
						<p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register" class="link-danger">Register</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>