<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img
              class="product__details__pic__item--large"
              src="img/product/details/product-details-1.jpg"
              alt=""
            />
          </div>
          <div class="product__details__pic__slider owl-carousel">
            <img
              data-imgbigurl="img/product/details/product-details-2.jpg"
              src="img/product/details/thumb-1.jpg"
              alt=""
            />
            <img
              data-imgbigurl="img/product/details/product-details-3.jpg"
              src="img/product/details/thumb-2.jpg"
              alt=""
            />
            <img
              data-imgbigurl="img/product/details/product-details-5.jpg"
              src="img/product/details/thumb-3.jpg"
              alt=""
            />
            <img
              data-imgbigurl="img/product/details/product-details-4.jpg"
              src="img/product/details/thumb-4.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>Vetgetable’s Package</h3>
          <div class="product__details__price">$50.00</div>
          <p>
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
            dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam
            vehicula elementum sed sit amet dui. Proin eget tortor risus.
          </p>
          <div class="product__details__quantity">
            <div class="quantity">
              <div class="pro-qty">
                <input type="text" value="1" />
              </div>
            </div>
          </div>
          <a href="#" class="primary-btn">ADD TO CARD</a>
          <ul>
            <li>
              <b>Share on</b>
              <div class="share">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->
